/**
 * Basic typography style for copy text
 */

a {
    color: $link-color;
}

h1 a,
h2 a,
h3 a,
h4 a {
    text-decoration:none;
}

h1 {
    font-size:rem-calc(26);
}
h3 {
    text-transform: uppercase;
    color: $headline-3-color;
}
h2{color: $headline-2-color;}

#wrapper {
    font-size:rem-calc(14);
    line-height:1.5em;
}
