
/* outer wrapper of each ce */
.ce_accordion {
    margin-top:-1px;
    border:1px solid #d4cbc5;
    border-bottom: none;
}

/* headline as trigger for the accordion */
.toggler {
    position:relative;
    padding:6px 10px;
    border-top:0px solid;
    border-right:0px solid;
    border-bottom:1px solid;
    border-left:0px solid;
    font-size:1.143em;
    font-weight:bold;
    color: #7F7266;
    border-color: #D4CBC5;
        /* Old browsers */
        background: #F4F2F0;
        /* FF3.6+ */
        background: -moz-linear-gradient(top,  #F4F2F0 0%, #EEE9E7 3%, #E1DAD6 100%);
        /* Chrome,Safari4+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F2F0), color-stop(3%,#EEE9E7), color-stop(100%,#E1DAD6));
        /* Chrome10+,Safari5.1+ */
        background: -webkit-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* Opera 11.10+ */
        background: -o-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* IE10+ */
        background: -ms-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* W3C */
        background: linear-gradient(to bottom,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* IE6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F2F0', endColorstr='#EEE9E7',GradientType=0 );
        font-size: 1.143em;
    cursor: pointer;
}
.toggler:after {
    width:20px;
    height:20px;
    right:10px;
    position:absolute;
    display:block;
    background-image:url("files/contaodemo/theme/img/icons/icon_arrow-bottom.png");
    background-repeat:no-repeat;
    text-indent:-9999em;
    content: '.';
    top: 8px;
    background-position: 100% 5px;
}

/* toggle active and hover status */
.toggler:hover,
.toggler.active {
    color: #E37A25;
}
.toggler:focus {
    outline: none;
}

/* inside active */
.toggler.ui-state-active:after {
    background-image:url("files/contaodemo/theme/img/icons/icon_arrow-top.png");
}
.toggler.ui-state-active span {
    color: #E37A25;
}

/* styling for inner > inner wrapper */
.accordion > div {
    padding:6px 10px;
    border-bottom:1px solid;
    border-color: #D4CBC5;
    background-color: #F4F2F0;
}

/* stretch up the tables */
table {
    width:100%;
    margin-bottom:10px;
    border:1px solid;
    border-collapse:collapse;
    border-color: #D4CBC5;
}
table caption {
    margin-bottom:1em;
    text-align:left;
    font-weight:bold;
}
th,
td {
    border-right:1px solid;
    border-bottom:1px solid;
    border-color: #D4CBC5;
    vertical-align:top;
}

/* headline styling */
th {
    padding:1%;
    text-align:left;
    background-color: #eee9e7;
}

/* simple body item styles */
td {
    padding:8px;
}
td.col_last {
    border-right: none;
}
.odd td {
    background-color: #F6F6F6;
}

/* bring up some zebra look */
.even td {
    background-color: #f4f2f0;
}
.comment_default {
    margin-bottom:20px;
}
.ce_comments p.info {
    margin:0;
    padding:5px;
    font-weight:bold;
    color: #E37A25;
}
.ce_comments .comment {
    margin:0;
    padding:0 5px;
    border:1px solid;
    border-color: #D4CBC5;
}
.ce_comments .reply {
    margin:10px 0 0 30px;
    padding:0;
}
.ce_comments .reply p.info {
    background: transparent;
}
.ce_comments .form {
    margin-top:30px;
}
.ce_comments .widget {
    margin-top:1.5em;
}
.ce_comments .text,
.ce_comments .formbody label {
    display:inline-block;
}
.ce_comments .text {
    width:29%;
    margin-right:1%;
}
.ce_comments .formbody label {
    width:40%;
    margin-top:0;
}
#container .ce_gallery ul {
    margin:0;
    padding:0;
}
#container .image_container a img {
    position:relative;
    display:inline-block;
    padding:2px;
    border:1px solid;
    border-color: #D4CBC5;
}
#container .image_container a:hover img {
    border-color: #E37A25;
}
#container figure.float_left {
    margin-right:20px;
}
#container figure.float_right {
    margin-left:20px;
}
#container .caption {
    padding:3px;
    background-color: #EEE9E7;
}
.ce_downloads ul {
    margin:0;
    padding:0;
    border-top:1px solid;
    list-style-type:none;
    border-color: #D4CBC5;
}
.ce_downloads li {
    margin-top:2px;
    padding:1%;
    border-bottom:1px solid;
    border-color: #D4CBC5;
    background-color: #F4F2F0;
}
.ce_download img,
.ce_downloads img {
    margin-right:1%;
    vertical-align:middle;
}
.content-slider {
    position:relative;
    overflow:hidden;
    visibility: hidden;
}
.ce_sliderStart {
    position:relative;
}
.slider-wrapper {
    position:relative;
    overflow:hidden;
}
.slider-wrapper > div {
    width:100%;
    height:300px;
    float:left;
    padding:0;
}
.slidebox1 {
    position:relative;
    background: #EEE9E7;
    /* Old browsers */
        background: -moz-linear-gradient(top,  #EEE9E7 0%, #F4F2F0 100%);
    /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE9E7), color-stop(100%,#F4F2F0));
    /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #EEE9E7 0%,#f4f2f1 100%);
    /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #EEE9E7 0%,#F4F2F0 100%);
    /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #EEE9E7 0%,#F4F2F0 100%);
    /* IE10+ */
        background: linear-gradient(to bottom,  #EEE9E7 0%,#F4F2F0 100%);
    /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE9E7', endColorstr='#F4F2F0',GradientType=0 );
    /* IE6-9 */;
}
.slidebox1 h1,
.slidebox1 p {
    margin-right:50px;
    margin-left:20px;
}
.slidebox1 .image_container {
    top:0;
    right:0;
    position:absolute;
}
.slider-control {
    height:55px;
}
.slider-control .slider-menu {
    font-size:3em;
    line-height:1.6em;
}
.slider-control .slider-prev,
.slider-control .slider-next {
    min-width:55px;
    display:block;
    margin-right:10px;
    margin-left:10px;
    padding:8px;
    text-align:center;
    border:1px solid;
    font-weight:bold;
    text-decoration:none;
    display:block;
        font-weight: bold;
        color: #7F7266;
        border-color: #D4CBC5;
        /* Old browsers */
        background: #F4F2F0;
        /* FF3.6+ */
        background: -moz-linear-gradient(top,  #F4F2F0 0%, #EEE9E7 3%, #E1DAD6 100%);
        /* Chrome,Safari4+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F2F0), color-stop(3%,#EEE9E7), color-stop(100%,#E1DAD6));
        /* Chrome10+,Safari5.1+ */
        background: -webkit-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* Opera 11.10+ */
        background: -o-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* IE10+ */
        background: -ms-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* W3C */
        background: linear-gradient(to bottom,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
        /* IE6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F2F0', endColorstr='#EEE9E7',GradientType=0 );
        font-size: 1.143em;
}
#wrapper .slider-control .slider-prev:hover,
#wrapper .slider-control .slider-next:hover {
    border-color:#de601a;
    color:#fff;
    border-color: #DE601A;
        color: #ffffff;
        /* Old browsers */
        background: #E37A25;
        /* FF3.6+ */
        background: -moz-linear-gradient(top,  #FF9B50 0%, #E37A25 3%, #E37A25 96%, #DE601A 100%);
        /* Chrome,Safari4+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9B50), color-stop(3%,#E37A25), color-stop(96%,#E37A25), color-stop(100%,#DE601A));
        /* Chrome10+,Safari5.1+ */
        background: -webkit-linear-gradient(top,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
        /* Opera 11.10+ */
        background: -o-linear-gradient(top,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
        /* IE10+ */
        background: -ms-linear-gradient(top,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
        /* W3C */
        background: linear-gradient(to bottom,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
        /* IE6-9 */;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9B50', endColorstr='#E37A25',GradientType=0 );
}
.sliderdemo .content-slider {
    margin-right:10px;
}
.content-slider .slidebox1 h1,
.content-slider .slidebox1 p {
    margin-right:400px;
    margin-left:20px;
}
.sliderdemo .content-slider .slidebox1 h1,
.sliderdemo .content-slider .slidebox1 p {
    margin-right:400px;
    margin-left:20px;
}

/* Contao Sliderfix */
.mod_article .slider-wrapper *[class*="ce_"] {
    margin:0;
}
.mod_article .ce_sliderStart {
    margin:0;
}
.ce_toplink > a:before {
    content: &quot;⇑&quot;;
    font-weight: bold;
    text-decoration: none;
    float: left;
    margin-right: 5px;
}
