/* events.css - styles for events elements
.............................................
	Authors
		@author................: Sascha Müller
		@author................: Joe Ray Gregory joe@may17.de

	Style Map
		1) News Listing
		2) Calendar
		3) Minicalendar
............................................. */

/* 1) Event Listing
___________________________________________________________*/

.mod_eventlist.example .event {
  	margin: 15px 0 0; padding: 0 0 15px;
	border-bottom: 1px solid #60584D;
  	overflow: hidden;
}

#main .mod_eventlist.example .last {border-bottom: 1px solid transparent;}

.mod_eventlist.example .layout_upcoming a {float: left; display: block; width: 99%;}
.mod_eventlist.example .layout_upcoming.example .date { display: block;}
.mod_eventlist.example .layout_upcoming.example .time {display: none;}

/* 2) Calendar
___________________________________________________________*/

.mod_calendar .active {
	background-color: #e37a25;
	color: #fff;
	font-weight: bold;
}

.mod_calendar .active a {
	color: #fff;
}

.mod_calendar .active a:hover,
#main .mod_calendar .active a:hover {
	color: #5d2f00;
}

.mod_calendar .header {
	font-size: 1.8em;
	text-align: center;
}

.mod_calendar th {
	text-align: center;
}

.mod_calendar .empty {
	background: #E1DAD6;
}

.mod_calendar .label > span {
	display: none;
}

.mod_calendar thead .label {
	width: 14.28%;
}

/* 3) Minicalendar
___________________________________________________________*/
#left .mod_calendar {
	margin: 0;
	width: 100%;
	font-size: 0.9em;
}

.box-2 .last td {
	border-bottom: none;
	text-align: center;
}

.box-2 td {
	text-align: center;
}

.mod_calendar .head a {
	text-decoration: none;
}

.mod_calendar .head a:hover {
	color: #e37a25;
}