.mod_eventlist.example .event {
    overflow:hidden;
    margin:15px 0 0;
    padding:0 0 15px;
    border-bottom:1px solid;
    border-color: #D4CBC5;
}
.mod_calendar .days {
    background: #f4f2f0;
}
#main .mod_eventlist.example .last {
    border-bottom: 1px solid transparent;
}
.mod_eventlist.example .layout_upcoming a {
    width:99%;
    float:left;
    display:block;
}
.mod_eventlist.example .layout_upcoming.example .date {
    display:block;
}
.mod_eventlist.example .layout_upcoming.example .time {
    display:none;
}
.mod_calendar .active.days {
    font-weight:bold;
    background-color: #E37A25;
     color: #ffffff;
}
.mod_calendar .active a {
    color: #ffffff;
}
.mod_calendar .active a:hover,
#main .mod_calendar .active a:hover {
    color: #5d2f00;
}
.mod_calendar .header {
    text-align:center;
    font-size:1.8em;
}
.mod_calendar th {
    text-align:center;
}
.mod_calendar .empty {
    background: #E1DAD6;
}
.mod_calendar .label > span {
    display:none;
}
.mod_calendar thead .label {
    width:14.28%;
}
#left .mod_calendar {
    width:100%;
    margin:0;
    font-size:.9em;
}
.box-2 .last td {
    text-align:center;
    border-bottom: none;
}
.box-2 td {
    text-align:center;
}
.mod_calendar .head a {
    text-decoration:none;
}
.mod_calendar .head a:hover {
    color: #E37A25;
}
