html {
    -webkit-font-smoothing: antialiased;
}

/* Native elements */
body {
    font:62.5% 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
    color: #60584D;
    background-color: #BEB1A9;
}

/* FP: Table on page "content elements" */
.content-element-list td {
    vertical-align:top;
}
.content-element-list td.col_0,
.content-element-list th.head_0 {
    width:25%;
}
.content-element-list td.col_1,
.content-element-list th.head_1 {
    width:20%;
}
figure {
    margin:0;
    padding:0;
}
fieldset {
    border: none;
}
a {
    color: #60584D;
}
.back,
.error {
    margin-right:10px;
    margin-left:10px;
}
h1 a,
h2 a,
h3 a,
h4 a {
    text-decoration:none;
}
#container a:hover {
    color: #E37A25;
}
#wrapper {
    font-size:1.4em;
    line-height:1.4;
}
h1 {
    font-size:2.571em;
}
h3 {
    text-transform: uppercase;
    color: #E37A25;
}
h2,
#container legend {
    padding-bottom:5px;
    border-bottom:2px solid;
    font-size:1.7em;
    color: #E37A25;
}
#container legend {
    width:100%;
    display:block;
    margin-bottom:20px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* General Helpers */
.clearfix:after,
#wrapper:after {
    height:0;
    clear:both;
    display:block;
    line-height:0;
    content: &quot;.&quot;;
    visibility: hidden;
}
.clearfix {
    display:inline-block;
}
html[xmlns] .clearfix {
    display:block;
}
* html .clearfix {
    height:1%;
}
.clr {
    clear:both;
}
.showat480,
.showat768 {
    display:none;
}
