/* navigation.css - all styles for navigation modules
.............................................
	Authors
		@author................: Joe Ray Gregory joe@may17.de
		@author................: Felix Pfeiffer
		@author................: Sascha Müller

	Style Map
		1) General
		2) Main Navigation
		3) Meta Navigation
		4) Left Navigation
		5) Pagination
		6) Book navigation
		7) Quicknav disabled
		8) Breadcrumb
		9) Sitemap
		10) small displays and tablets
		11) portrait tablets and phone
............................................. */

/* 1) General
___________________________________________________________*/
.mod_navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 2) Main Navigation
___________________________________________________________*/

.nav-main {
    float: right;
    margin-right: 10px;
}

/* First level li */
.nav-main > ul > li {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

/* Reset last item */
.nav-main li.last {
    margin-right: 0;
}

/* style first level a tags and actives */
.nav-main > ul > li > a,
.nav-main > ul > li > .active,
.nav-main > ul > li > .trail{
    border: 1px solid #e1dad6;
    border-bottom-color: #d4cbc5;
    display: block;
    padding: 8px;
    color: #7f7266;
    text-decoration: none;
    background: #f4f2f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f2f0 0%, #eee9e7 3%, #e1dad6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f2f0), color-stop(3%,#eee9e7), color-stop(100%,#e1dad6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f0', endColorstr='#e1dad6',GradientType=0 ); /* IE6-9 */
    font-size: 1.143em;
}

/* add hover status for a and active items with dropdown */
.nav-main.dropdown > ul > li:hover > a,
.nav-main.dropdown > ul > li.submenu:hover > .active{
	background: #f4f2f0;
	border-color: #e5dfdc;
	color: #e37a25;
}

/* add a padding to bottom for the dropdown effect */
.nav-main.dropdown > ul > li.submenu:hover > a,
.nav-main.dropdown > ul > li.submenu:hover > .active {
	padding-bottom: 15px;
	border-bottom: none;
}

/* set the active effect */
.nav-main > ul > li > .active,
.nav-main > ul > li > .trail
{
    border-color: #de601a;
    border-bottom-color: #cf5917;
    color: #ffffff;
    background: #ff9b50; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9b50 0%, #fd7d0d 3%, #ee7404 96%, #de601a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9b50), color-stop(3%,#fd7d0d), color-stop(96%,#ee7404), color-stop(100%,#de601a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b50', endColorstr='#de601a',GradientType=0 ); /* IE6-9 */
}

/****** 2.1) Dropdown styles ******/

/* add base dropdown styles */
.nav-main.dropdown .submenu .level_2 {
	position: absolute;
	border: 1px solid #eee;
    left: -9999em;
    width: 170px;
	z-index: 88;
}

/* show dropdown on hover */
.nav-main.dropdown li.submenu:hover .level_2{
    left: auto;
}

.nav-main .submenu .level_2 {
	background: #f4f2f0;
	border: 1px solid #e5dfdc;
}

/* style the buttons */
.nav-main .submenu .level_2 a,
.nav-main .submenu .level_2 span {
	display: block;
	clear: both;
	padding-bottom: 0;
	font-size: 1.143em; /* 16px */
	text-decoration: none;
	padding: 8px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e1dad6;
}

/* style the hover effect */
.nav-main.dropdown .level_2 a:hover,
.nav-main .level_2 .active,
.nav-main .level_2 .trail {
	color: #e37a25;
}

/* 3) Meta Navigation
___________________________________________________________*/

.nav-meta {
    float: right;
    margin-top: 1px;
    line-height: 25px;
    margin-right: 10px;
}

.nav-meta li {
    display: inline;
    padding: 0 5px;
}

.nav-meta a {
    text-decoration: none;
}

.nav-meta a:hover {
    text-decoration: underline;
}

/* 4) Left Navigation
___________________________________________________________*/

.nav-left {
	margin: 20px 0 0 0px;
	border: 1px solid #e1dad6;
	border-left: none;
	font-weight: bold;
}

.nav-left a,
.nav-left span.active,
.nav-left span.trail,
.nav-left a.trail {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e1dad6;
    display: block;
    padding: 10px;
    color: #7f7266;
    text-decoration: none;
	background: url('../img/icons/icon_arrow-right-grey.png') no-repeat 95% 50% #f4f2f0;
    font-size: 1.143em; /* 16px */
}

.nav-left a:hover {
	color: #e37a25;
	background-image: url('../img/icons/icon_arrow-right-orange.png');
}

.nav-left span.active,
.nav-left span.trail,
.nav-left a.trail,
#container .nav-left a.trail:hover {
	background-color: #e37a25;
	background-image: url('../img/icons/icon_arrow-right-darkorange.png');
	color: #fff;
	border-top-color: #ff9b50;
}

.nav-left .last a,
.nav-left .last span.active,
.nav-left span.trail {
	border-bottom: none;
}


/* 5) Pagination
___________________________________________________________*/

.pagination {
	clear: both;
	border-top: 1px solid #e1dad6;
	padding-top: 5px;
	margin-top: 10px;
}

.pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pagination li {
	float: left;
}

.pagination a,
.pagination span {
	border: 1px solid #e1dad6;
    border-bottom-color: #d4cbc5;
    display: block;
    padding: 5px;
    color: #7f7266;
    text-decoration: none;
    background: #f4f2f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f2f0 0%, #eee9e7 3%, #e1dad6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f2f0), color-stop(3%,#eee9e7), color-stop(100%,#e1dad6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f0', endColorstr='#e1dad6',GradientType=0 ); /* IE6-9 */
    margin-right: 2px;
}

.pagination span {
	border: 1px solid #de601a;
    border-bottom-color: #cf5917;
    display: block;
    padding: 5px;
    color: #ffffff;
    background: #ff9b50; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9b50 0%, #fd7d0d 3%, #ee7404 96%, #de601a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9b50), color-stop(3%,#fd7d0d), color-stop(96%,#ee7404), color-stop(100%,#de601a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b50', endColorstr='#de601a',GradientType=0 ); /* IE6-9 */
}

/* 6) Book Navigation
___________________________________________________________*/

.mod_booknav {
	clear: both;
	border-top: 1px solid #e1dad6;
	padding-top: 10px;
	margin-top: 20px;
}

.mod_booknav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mod_booknav li {
	float: left;
}

.mod_booknav a,
.mod_booknav span {
	border: 1px solid #e1dad6;
    border-bottom-color: #d4cbc5;
    display: block;
    padding: 5px;
    color: #7f7266;
    text-decoration: none;
    background: #f4f2f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f2f0 0%, #eee9e7 3%, #e1dad6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f2f0), color-stop(3%,#eee9e7), color-stop(100%,#e1dad6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f2f0 0%,#eee9e7 3%,#e1dad6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f0', endColorstr='#e1dad6',GradientType=0 ); /* IE6-9 */
    margin-right: 2px;
}

.mod_booknav span {
	border: 1px solid #de601a;
    border-bottom-color: #cf5917;
    display: block;
    padding: 5px;
    color: #ffffff;
    background: #ff9b50; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9b50 0%, #fd7d0d 3%, #ee7404 96%, #de601a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9b50), color-stop(3%,#fd7d0d), color-stop(96%,#ee7404), color-stop(100%,#de601a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff9b50 0%,#fd7d0d 3%,#ee7404 96%,#de601a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b50', endColorstr='#de601a',GradientType=0 ); /* IE6-9 */
}

.mod_booknav a:hover {
	background: #f4f2f0;
	border-color: #e5dfdc;
	color: #e37a25;
}

/* Hide the up, prev buttons for pages with this class */
.noprevlink .mod_booknav .up,
.noprevlink .mod_booknav .prev{
	display: none;
}
/* 7) Quick nav
___________________________________________________________

.mod_quicknav {
	border: 1px solid #95857a;
  	border-bottom: 1px solid #76695f;
    background: #9b8d81;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOGQ4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTdiNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #9b8d81 0%, #897b70 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b8d81), color-stop(100%,#897b70));
    background: -webkit-linear-gradient(top,  #9b8d81 0%,#897b70 100%);
    background: -o-linear-gradient(top,  #9b8d81 0%,#897b70 100%);
    background: -ms-linear-gradient(top,  #9b8d81 0%,#897b70 100%);
    background: linear-gradient(to bottom,  #9b8d81 0%,#897b70 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8d81', endColorstr='#897b70',GradientType=0 );

}

.mod_quicknav .select {
  background: #9b8d81;
  border: none;
  color: #FFF; display: block;
}

.mod_quicknav option {
	background: none;
	padding: 7px 9px;
  	background: #9b8d81; width: 100%;
}

.mod_quicknav option:hover,
.mod_quicknav option:focus {background: #e37a25;}


.mod_quicknav .submit {display: none;}
*/

/* 8) Breadcrumb
___________________________________________________________*/

.mod_breadcrumb ul {
	list-style: none;
	padding: 0;
	margin: 15px 0 0 10px;
	font-size: 0.929em; /* 12px */
}

.mod_breadcrumb li {
	float: left;
	background: url('../img/icons/icon_arrow-small.png') no-repeat 100% 50%;
	padding-right: 15px;
	padding-left: 5px;
}

.mod_breadcrumb .first {
	padding-left: 0px;
}

.mod_breadcrumb a {
	text-decoration: none;
}

.mod_breadcrumb a:hover {
	text-decoration: underline;
}

.mod_breadcrumb .active {
    color: #e37a25;
    font-weight: bold;
    background: none;
}

/* 9) Sitemap
___________________________________________________________*/

.mod_sitemap ul {
	margin: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

.mod_sitemap li {
	background: url('../img/bg/sitemap_normal.png') no-repeat 0 0px;
	padding: 0px 0 5px 15px;
	margin: 0;
}

.mod_sitemap > ul > li.first {
	background-image: url('../img/bg/sitemap_first.png');
}

.mod_sitemap li.last {
	background-image: url('../img/bg/sitemap_last.png');
}

.mod_sitemap ul ul ul {

}

.mod_sitemap a {
	display: block;
	background-color: #fbfaf9;
	padding: 2px;
}

