.mod_navigation ul {
    margin:0;
    padding:0;
    list-style: none;
}
.nav-main {
    float:right;
    margin-right:10px;
}

/* Unified Off Status for Navigation Items */
.nav-main > ul > li > a,
.nav-main > ul > li > .active,
.nav-main > ul > li > .trail,
.nav-left a,
.nav-left span.active,
.nav-left span.trail,
.nav-left a.trail,
.pagination a,
.pagination span,
.mod_booknav a,
.mod_booknav span {
    display:block;
    padding:8px;
    border:1px solid;
    font-weight: bold;
    text-decoration:none;
    color: #7F7266;
    border-color: #D4CBC5;
    /* Old browsers */
    background: #F4F2F0;
    /* FF3.6+ */
    background: -moz-linear-gradient(top,  #F4F2F0 0%, #EEE9E7 3%, #E1DAD6 100%);
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F2F0), color-stop(3%,#EEE9E7), color-stop(100%,#E1DAD6));
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
    /* IE10+ */
    background: -ms-linear-gradient(top,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
    /* W3C */
    background: linear-gradient(to bottom,  #F4F2F0 0%,#EEE9E7 3%,#E1DAD6 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F2F0', endColorstr='#EEE9E7',GradientType=0 );
    font-size: 1.143em;
}

/* Unified Hover Status for Navigation Items */
.nav-main.dropdown > ul > li:hover > a,
.nav-main.dropdown > ul > li.submenu:hover > .active,
.nav-left a:hover,
.pagination a:hover,
.mod_booknav a:hover {
    background: #F4F2F0;
    border-color: #E5DFDC;
    color: #E37A25;
}

/* Unified Active Status for Navigation Items */
.nav-main > ul > li > .active,
.nav-main > ul > li > .trail,
.nav-left span.active,
.nav-left span.trail,
.nav-left a.trail,
.pagination span,
.mod_booknav span {
    border-color: #DE601A;
    color: #ffffff;
    /* Old browsers */
    background: #E37A25;
    /* FF3.6+ */
    background: -moz-linear-gradient(top,  #FF9B50 0%, #E37A25 3%, #E37A25 96%, #DE601A 100%);
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9B50), color-stop(3%,#E37A25), color-stop(96%,#E37A25), color-stop(100%,#DE601A));
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
    /* IE10+ */
    background: -ms-linear-gradient(top,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
    /* W3C */
    background: linear-gradient(to bottom,  #FF9B50 0%,#E37A25 3%,#E37A25 96%,#DE601A 100%);
    /* IE6-9 */;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9B50', endColorstr='#E37A25',GradientType=0 );
}

/* First level li */
.nav-main > ul > li {
    float:left;
    margin-right:10px;
    font-weight:bold;
}

/* Reset last item */
.nav-main li.last {
    margin-right:0;
}

/* add a padding to bottom for the dropdown effect */
.nav-main.dropdown > ul > li.submenu:hover > a,
.nav-main.dropdown > ul > li.submenu:hover > .active {
    padding-bottom:15px;
    border-bottom: none;
}

/* add base dropdown styles */
.nav-main.dropdown .submenu .level_2 {
    width:170px;
    left:-9999em;
    position:absolute;
    z-index: 88;
    border-top-color: #eeeeee;
}

/* show dropdown on hover */
.nav-main.dropdown li.submenu:hover .level_2 {
    left:auto;
}
.nav-main .submenu .level_2 {
    border:1px solid;
    background: #F4F2F0;
    border-color: #E5DFDC;
}

/* style the buttons */
.nav-main .submenu .level_2 a,
.nav-main .submenu .level_2 span {
    clear:both;
    display:block;
    padding:8px;
    border-top:1px solid;
    border-bottom:1px solid;
    font-size:1.143em;
    text-decoration: none;
    border-top-color: #ffffff;
    border-bottom-color: #E5DFDC;
}
.nav-main .submenu .level_2 a.last,
.nav-main .submenu .level_2 span.last {
    border-bottom: none;
}

/* style the hover effect */
.nav-main.dropdown .level_2 a:hover,
.nav-main .level_2 .active,
.nav-main .level_2 .trail {
    color: #E37A25;
    background-color: #F4F2F0;
}
.nav-meta {
    float:right;
    margin-top:1px;
    margin-right:10px;
    line-height:25px;
}
.nav-meta li {
    display:inline;
    padding:0 5px;
}
.nav-meta a {
    text-decoration:none;
}
.nav-meta a:hover {
    text-decoration:underline;
}
.nav-left {
    margin:20px 0;
    border:1px solid;
    font-weight:bold;
    border-left: none;
    border-color: #D4CBC5;
}
.nav-left a,
.nav-left span.active,
.nav-left span.trail,
.nav-left a.trail {
    padding:10px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.nav-left span.active,
.nav-left span.trail,
.nav-left a.trail {
    border-top: 1px solid #DE601A;
}
.nav-left .last a,
.nav-left .last span.active,
.nav-left span.trail {
    border-bottom: none;
}
.pagination {
    clear:both;
    margin-top:10px;
    padding-top:5px;
    border-top:1px solid;
    border-color: #D4CBC5;
}
.pagination ul {
    margin:0;
    padding:0;
    list-style: none;
}
.pagination li {
    float:left;
}
.pagination a,
.pagination span {
    display:inline-block;
    margin-right:2px;
    padding:5px 10px;
}
.mod_booknav {
    clear:both;
    margin-top:20px;
    padding-top:10px;
    border-top:1px solid;
    border-color: #D4CBC5;
}
.mod_booknav ul {
    margin:0;
    padding:0;
    list-style: none;
}
.mod_booknav li {
    float:left;
}
.mod_booknav a,
.mod_booknav span {
    margin-right:2px;
    padding:5px;
}

/* Hide the up, prev buttons for pages with this class */
.noprevlink .mod_booknav .up,
.noprevlink .mod_booknav .prev {
    display:none;
}
.mod_breadcrumb ul {
    margin:15px 0 0 10px;
    padding:0;
    font-size:.929em;
    list-style-type:none;
}
.mod_breadcrumb li {
    float:left;
    padding-right:15px;
    padding-left:5px;
    background-image:url("files/contaodemo/theme/img/icons/icon_arrow-small.png");
    background-position:right center;
    background-repeat:no-repeat;
}
.mod_breadcrumb .first {
    padding-left:0;
}
.mod_breadcrumb a {
    text-decoration:none;
}
.mod_breadcrumb a:hover {
    text-decoration:underline;
}
.mod_breadcrumb .active {
    font-weight:bold;
    background: none;
    color: #E37A25;
}
.mod_sitemap ul {
    margin:0;
    padding:0;
    list-style: none;
}
.mod_sitemap li {
    margin:0;
    padding:0 0 5px 15px;
    background-image:url("files/contaodemo/theme/img/bg/sitemap_normal.png");
    background-repeat:no-repeat;
}
.mod_sitemap > ul > li.first {
    background-image:url("files/contaodemo/theme/img/bg/sitemap_first.png");
}
.mod_sitemap li.last {
    background-image:url("files/contaodemo/theme/img/bg/sitemap_last.png");
}
.mod_sitemap a {
    display:block;
    padding:2px;
    background-color: #FBFAF9
}
