.mod_newslist {
    padding:0 0 10px;
    border-bottom: none;
}
.mod_newslist .last {
    border-bottom: 1px solid transparent;
}
.mod_newslist p.info {
    font-size:.786em;
    /* 11px */
    	margin-bottom: 0;
}
.mod_article .mod_newslist *[class*="layout_"]>* {
    margin-right:0;
    margin-left:0;
}
.mod_article .layout_full > * {
    margin-right:10px;
    margin-left:10px;
}
.layout_short h2 {
    margin-top:0;
}
.mod_newsarchive p.info {
    margin-bottom:0;
    font-size:.786em;
}
.mod_newsarchive h2 {
    margin-top:0;
}
.mod_newsarchive h1 {
    padding:0 10px;
}
.mod_newsmenu {
    margin:20px 0 0;
    font-weight:bold;
    border-left: none;
}
.mod_newsmenu ul {
    margin:0;
    padding:0;
    list-style: none;
}
.mod_newsmenu ul > .year {
    margin-bottom:20px;
    padding-left:0;
    font-size:1.6em;
    /* text-indent: 1em;
    */
    border: 1px solid #D4CBC5;
    color: #60584D;
    background-color: #F4F2F0;
}
.mod_newsmenu .year ul {
    margin-top:0;
}
.mod_newsmenu a,
.mod_newsmenu span.active {
    display:block;
    padding:10px;
    border-top:1px solid;
    font-size:.7em;
    text-decoration:none;
    background: url('../img/icons/icon_arrow-right-grey.png') no-repeat 95% 50%;
    border-bottom: 1px solid #D4CBC5;
    color: #60584D;
    border-top-color: #ffffff;
}
.mod_newsmenu a:hover,
.mod_newsmenu span.active {
    background-image:url("../img/icons/icon_arrow-right-orange.png");
    color:#e37a25;
}
.mod_newsmenu span.active {
    background-image:url("../img/icons/icon_arrow-right-darkorange.png");
    color:#fff;
    background-color: #E37A25;
    border-top-color: #E37A25;
}
.mod_newsmenu .last a,
.mod_newsmenu .last span.active,
.mod_newsmenu span.trail {
    border-bottom: none;
}
.mod_article .mod_newsreader {
    margin-right:10px;
    margin-left:10px;
}
