/* Name of the file and short description
.............................................
	Authors
		@author................: Joe Ray Gregory joe@may17.de
		@author................: Felix Pfeiffer
		@author................: Sascha Müller
		@author................: Stefan Melz <stefan@slash-works.de>


............................................. */


/* smaller display and tablets
___________________________________________________________*/

    .showat768{
        display: block;
    }

    .hideat768{
        display: none;
    }


    /*----- layout ------- */
    
    body {
		background: #fff;
	}
	
	#main .inside {
		margin-left: 0;
		margin-right: 0;
	}
	
	.image_container {
		padding: 0 !important;
		margin-left: 0 !important;
		margin-right: 10px !important;
		float: none !important;
	}
    
    .mobilelogo{
        float: left;
        margin: 5px;
        display: block;
    }

    #main{
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #left{
        padding-left: 15px;
    }

    .mod_article *[class*="ce_"], .mod_article *[class*="mod_"] {
        margin-left: 0px;
        margin-right: 10px;
    }


    /*----- burger mobile nav ------- */
    
    #jump-to-nav {
        display: block;
        background: url('../img/nav_mobile.png') no-repeat right 2px;
        color: #e37a25;
        font-size: 1.5em;
        width: 35px;
        height: 33px;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        padding-top: 0px;
        padding-right: 100px;
        text-decoration: none;
    }


    .mod_breadcrumb {
        display: none;
    }


    /*----- mobile nav ------- */
    
    #nav-main-mobile {
        width: auto;
        height: auto;
        float: none;
        background: none;
        margin-right: 10px;
        margin-top: 25px;
        clear: both;
    }

    #nav-main-mobile li{
        float: none;
        margin-right: 0;
    }

    #nav-main-mobile a.trail:hover{
        color: #fff
    }



    /*------------------ ende mobile nav ---------------------*/


    /*----- nav left ------- */

    #nav-left{
        margin: 0 10px 20px 10px;
        border-left: 1px solid #e1dad6;
    }
	
	/*----- slider ------- */
	
	.slidebox1 .image_container {
		
		opacity: 0.1;
		z-index: 55;
		right: -10px;
		
	}
	
	.mod_article .ce_sliderStart {
	
		margin-right: 0;
	
	}
	
	.slidebox1 h1,
	.slidebox1 p {
    	margin-right: 10%;
    	position: absolute;
    	z-index: 99;
	}
	
	.slidebox1 p {
	
		top: 70px;
	
	}
	
	.sliderdemo h1 {
	
		font-size: 2.5em;
	
	}
	
	.sliderdemo .content-slider .slidebox1 h1,
	.sliderdemo .content-slider .slidebox1 p {
    	margin-left: 20px;
    	margin-right: 10%;
	}
	
	/*----- newsletter ------- */
	
	.mod_nl_list{
        border-left:1px solid #e1dad6;;
        margin: 15px 10px;
        padding-bottom: 15px;
    }

    .mod_nl_list a,
    .mod_nl_list a:visited,
    .mod_nl_list a:hover,
    .mod_nl_list a:focus{
        display: block;
        float: none;
    }

    .mod_nl_list li{
        padding-bottom: 0;
    }
    
	/*----- forms ------- */
    
    .tableform table{
        width: 100%;
        line-height: 1.4em;
        border:1px solid #e1dad6;
    }

    #container input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea, input[type="search"]{
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    #main .formbody .submit_container {
        border-top: none;
        padding-top: 0px;
        margin-top: 10px;
    }
	
	#container .mod_login .text,
	#container .mod_login label {
		display: block;
	}
	
	#container .mod_login .text {
		width: 100%;
	}
	
	#container .mod_login .checkbox_container {
		margin-left: 0%;
	}
	
	#container .mod_login .checkbox_container label {
		display: inline;
	}
	
	#container .mod_login .submit_container {
		float: right;
	}
	
	#container .mod_login .checkbox_container {
		left: 1em;
		right: auto;
	}
	
	/*----- footer ------- */
	
	#footer .inside {
		float: none;
	}
	
	/*----- events ------- */
	
	/* remove Texlink and open up the a tag as a square to simulate just a clik area */
	
	.mod_calendar thead .label {
		display: none;
	}
	
	.mod_calendar tr {
		clear: both;
		float: left;
		width: 100%;
	}
	
	.mod_calendar tbody .days {
		display: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.mod_calendar tbody .days.active,
	.mod_calendar thead th {
		display: block;
		clear: both;
		float: left;
		width: 100%;
		border-bottom: 1px solid #fff;
	}
	
	.mod_calendar tbody .header {
		float: left;
		width: 20%;
	}
	
	.mod_calendar tbody .event {
		float: right;
		width: 75%;
		margin-bottom: 4px;
		margin-right: 10px;
		padding-bottom: 4px;
		border-bottom: 1px solid #bd5e06;
	}
	
	.mod_calendar tbody .event a:before {
		content: '\2022';
		display: inline-block;
		margin-right: 10px;
	}
	
	.mod_calendar thead th {
	
		font-size: 1em;
		display: inline-block;
	
	}
	
	.mod_calendar thead .current,
	.mod_calendar thead .previous,
	.mod_calendar thead .next {
		
		vertical-align: middle;
		line-height: 40px;
		
	}
	
	#left .mod_calendar {
	
		display: none;
	
	}