/* search.css - styles for search elements
.............................................
	Authors
		@author................: Joe Ray Gregory joe@may17.de
............................................. */


.mod_search .even,
.mod_search .odd {
	border-bottom: 1px solid #d4cbc5;
	margin-bottom: 1px;
}

.mod_search .last {
	border-bottom: none;
}

.mod_search h3 a,
.mod_search h3 a:visited,
.mod_search h3 a:hover,
.mod_search h3 a:focus,
.mod_search h3 a:active {text-decoration: none; color: #e37a25;}

.mod_search h3 a:hover,
.mod_search h3 a:focus,
.mod_search h3 a:active {text-decoration: underline;}

.mod_search h3 a {
	color: #e37a25;
}

.mod_search .relevance {
	font-size: 0.8em;
	padding-left: 10px;
	color: #60584D;
}

.mod_search .formbody {
	border: 1px solid #e5dfdc;
	background-color: #eae5e2;
	padding: 1em;
}

.mod_search .radio_container span {
	float: left;
	margin-right: 1em;
}

.mod_search fieldset {
	padding: 0;
	margin: 5px 0 0 0;
}

.mod_search .highlight {
	color: #e37a25;
	font-weight: bold;
}