.mod_search .even,
.mod_search .odd {
    margin-bottom:1px;
    border-bottom:1px solid;
    border-color: #D4CBC5;
}
.mod_search > .last {
    border-bottom: none;
}
.mod_search h3 a,
.mod_search h3 a:visited,
.mod_search h3 a:hover,
.mod_search h3 a:focus,
.mod_search h3 a:active {
    text-decoration:none;
    color: #E37A25;
}
.mod_search h3 a:hover,
.mod_search h3 a:focus,
.mod_search h3 a:active {
    text-decoration:underline;
}
.mod_search h3 a {
    color:#e37a25;
}
.mod_search .relevance {
    padding-left:10px;
    font-size:.8em;
    color:#60584D;
}
.mod_search .formbody {
    padding:1em;
    border:1px solid;
    border-color: #D4CBC5;
     background-color: #EEE9E7;
}
.mod_search .radio_container span {
    float:left;
    margin-right:1em;
}
.mod_search fieldset {
    margin:5px 0 0;
    padding:0;
}
.mod_search .highlight {
    font-weight:bold;
    color: #E37A25;
}
