$baseFontstack:			 	'Open Sans', Verdana, Arial, Helvetica, sans-serif;
$baseFontsize:					62.5%;

$path-css-to-img-folder:	'/files/contaodemo/theme/img';

$basecolor:					#60584d;
$darkercolor:					#5d2f00;
$footerColor:				#473f3a;
$footerTextcolor:			#9e9084;
$baseBorderColor:			#d4cbc5;
$wrapperBgColor:			#fbfaf9;
$footerLinkcolor:				#ffffff;
$footerBordercolor:			#60584d;
$highlightcolor:			#e37a25;
$bgColor:					#beb1a9;
$navOffColor:				#7f7266;
$navOffBorder:				#d4cbc5;
$navOffGradient1:			#f4f2f0;
$navOffGradient2:			#eee9e7;
$navOffGradient3:			#e1dad6;
$navHoverBg:				#f4f2f0;
$navHoverBorder:			#e5dfdc;
$navOnColor:					#ffffff;
$navOnBorder:				#de601a;
$navOnGradient1:			#ff9b50;
$navOnGradient2:			#e37a25;
$navOnGradient3:			#e37a25;
$navOnGradient4:			#de601a;
$navSubBorderTop:				#eeeeee;
$navSubItemBorderTop:	 		#ffffff;
$navSubItemBorderBottom:	#e5dfdc;
$box1Bg:					#eee9e7;
$box2Bg:					#f4f2f0;
$tableHeadBg:					#eee9e7;
$tableEvenBg:					#f4f2f0;
$tableOddBg:				#f6f6f6;
$topbarBg:						#eae5e2;
$inputOffBg:				#f4f2f0;
$inputOnBg:					#fdfdfd;
$errorColor:					#c20000;
$confirmColor:					#00adf1;

@function data-quote($input) { /* compile $input in single quotes */
	@return "'" + $input + "'";
}
